 <body>
 <!-- Spinner Start -->
 <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
    <a href="{{url_for('home', logged_in=current_user.is_authenticated)}}" class="navbar-brand d-flex align-items-center">
        <h2 class="m-0 text-primary"><img class="img-fluid me-2" src="/static/img/universal_svg_logo.png" alt="" style="width: 45px;">Universal Stock Exchange</h2>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if logged_in %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <div class="navbar-nav ms-auto py-4 py-lg-0">
                
                <a href="{{ url_for('dashboard', logged_in=current_user.is_authenticated, ll=current_user.id) }}"  {% if '/dashboard' == request.path%} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Dashboard</a>
                <a href="{{ url_for('logout') }}" {% if '/logout' == request.path%} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Logout</a>
                
            </div>
        
        </div>
    {% else %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <div class="navbar-nav ms-auto py-4 py-lg-0">
                
                <a href="{{ url_for('home') }}"  {% if '/' == request.path%} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Home</a>
                <a href="{{ url_for('about') }}" {% if '/about' == request.path%} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>About</a>
                <a href="{{ url_for('reg') }}" class="nav-item nav-link">Sign Up & Login</a>
                
                <a href="{{ url_for('contact') }}"  {% if '/contact' == request.path%} class="nav-item nav-link active" {% else %} class="nav-item nav-link" {% endif %}>Contact</a>
            
            </div>
            <div class="h-100 d-lg-inline-flex align-items-center d-none">
                <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square rounded-circle bg-light text-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-square rounded-circle bg-light text-primary me-0" href="https://t.me/UNIVERSAL_STOCK_EXCHANGE"><i class="fab fa-telegram"></i></a>
            </div>
        
        </div>
    {% endif %}
</nav>